<section class="hero">
  <%= image_tag("Banner.png", class: "hero-image") %>
</section>

<hr>

<section class="row small-up-1 medium-up-2 large-up-3">
  <h3> Recent Projects </h3>
    <% @projects.each do |project| %>
      <article class="column">
      <%= link_to image_tag(project.picture.url(:thumb)), project %>
      <h4> <%= link_to project.title, project %> </h4>
      <h5> <%= project.created_at.strftime("%A, %b, %d") %> </h5>
      </article>
    <% end  %>
</section>

<hr>

<section class="row small-up-1 medium-up-2 large-up-3">
  <h3> Recent Posts </h3>
    <% @posts.each do |post| %>
      <article class="column">
      <%= link_to image_tag(post.picture.url(:thumb)), post %>
      <h4><a href='#anchor1'> <%= link_to post.title, post %> </a></h4>
      <h5> <%= post.created_at.strftime("%A, %b, %d") %> </h5>
      </article>
    <% end  %>
</section>
