<article class="row center-image">

  <div class="small-4 columns title-format">
    <br><br>
    <span class="date"><%= @project.created_at.strftime("%A, %b, %d") %> </span>
    <br>
    <h3><%= @project.title.upcase %></h3>
    <br>
    <%= image_tag @project.picture.url(:large) %>
  </div>

  <div class="small-7 columns padding-top">
      <p><%= markdown @project.description %></p>
      <p>Skills: <%= @project.skills %></p>
    <ul>
      <li><a href="<%= @project.link %>" class="button" target="_blank"> Visit <%= @project.title %>'s Heroku page. </a></li>

      <li><a href="<%= @project.github %>" class="button" target="_blank"> Visit <%= @project.title %>'s Github page.</a></li>
    </ul>
  </div>
</article>

<% if user_signed_in? %>
  <div id="admin-links">
    <%= link_to "Edit", edit_project_path(@project) %>
    <%= link_to "Destroy", project_path(@project), method: :delete, data: { confirm: "Are you sure you want to delete me?" } %>
  </div>
<% end  %>

<!-- <div class="hr-style">
  <hr>
  <div id="share_box">
    <p>Share <%= @project.title %></p>

    <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @project.title %> by @rachelpavilanis - &amp;url='<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
      <i class="fa fa-twitter"></i>
    </a>

    <a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= @project.title %> by @rachelpavilanis - &amp;url='<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
      <i class="fa fa-facebook"></i>
    </a>

    <a onclick="javascript:window.open('http://plus.google.com/share?url=<%= @project.title %> by @rachelpavilanis - &amp;url='<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
      <i class="fa fa-google-plus"></i>
    </a>
    <hr>
  </div>
</div> -->
