<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title><%= content_for?(:title) ? yield(:title) : "Rachel Pavilanis" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <section class="social-media-container">
        <ul>
          <li><%=link_to image_tag('email.png', :alt => "email", :title => "email"), "mailto:rachel@rachelpav.com" %></li>
          <li><%=link_to image_tag('twitter.png', :alt => "twitter", :title => "twitter"), "https://twitter.com/rachelpavilanis" %></li>
          <li><%=link_to image_tag('linkedin.png', :alt => "linked in", :title => "linked in"), "https://www.linkedin.com/in/rachel-pavilanis-0839a878" %></li>
          <li><%=link_to image_tag('github.png', :alt => "github", :title => "github"), "https://github.com/rpavilanis" %></li>
        </ul>
      </section>

      <nav class="navigation-container">
        <ul>
          <li><h2><%= link_to "About", about_path(:page => 'about.html') %></h2></li>
          <li><h2><%= link_to "Blog", posts_path %></h2></li>
          <li><h1><strong><%= link_to "RACHEL PAVILANIS", root_path %></strong></h1></li>
          <li><h2><%= link_to "Portfolio", projects_path %></h2></li>
          <li><h2><%= link_to "Resume", about_path(:page => 'resume.html') %></h2></li>
        <% if user_signed_in? %>
          <li><h2><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h2></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end  %>
    <%= yield %>

    <footer>
      <p>
        Copyright 2016, Rachel Pavilanis
      </p>

      <section>
        <%=link_to image_tag('email.png', :alt => "email", :title => "email"), "mailto:rachel@rachelpav.com" %>
        <%=link_to image_tag('twitter.png', :alt => "twitter", :title => "twitter"), "https://twitter.com/rachelpavilanis" %>
        <%=link_to image_tag('linkedin.png', :alt => "linked in", :title => "linked in"), "https://www.linkedin.com/in/rachel-pavilanis-0839a878" %>
        <%=link_to image_tag('github.png', :alt => "github", :title => "github"), "https://github.com/rpavilanis" %>
      </section>

    </footer>

  </body>
</html>
