<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Rachel Pavilanis" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <section class="social-media-container">
        <ul>
          <li><%=link_to image_tag('email.png', :alt => "email", :title => "email"), "mailto:rachel@rachelpav.com" %></li>
          <li><%=link_to image_tag('twitter.png', :alt => "twitter", :title => "twitter"), "https://twitter.com/rachelpavilanis" %></li>
          <li><%=link_to image_tag('linkedin.png', :alt => "linked in", :title => "linked in"), "https://www.linkedin.com/in/rachel-pavilanis-0839a878" %></li>
          <li><%=link_to image_tag('github.png', :alt => "github", :title => "github"), "https://github.com/rpavilanis" %></li>
        </ul>
      </section>

      <nav class="navigation-container">
        <ul>
          <li><h1><%= link_to "About", root_path(:page => 'about') %></h1></li>
          <li><h1><%= link_to "Blog", posts_path %></h1></li>
          <li><%=link_to image_tag('logo3.png', :alt => "logo", :title => "logo"), root_path %></li>
          <li><h1><%= link_to "Portfolio", projects_path %></h1></li>
        <% if user_signed_in? %>
          <li><h1><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h1></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end  %>
    <%= yield %>

    <footer>
      <p>
        Copyright 2016, Rachel Pavilanis
      </p>

      <section>
        <%=link_to image_tag('email.png', :alt => "email", :title => "email"), "mailto:rachel@rachelpav.com" %>
        <%=link_to image_tag('twitter.png', :alt => "twitter", :title => "twitter"), "https://twitter.com/rachelpavilanis" %>
        <%=link_to image_tag('linkedin.png', :alt => "linked in", :title => "linked in"), "https://www.linkedin.com/in/rachel-pavilanis-0839a878" %>
        <%=link_to image_tag('github.png', :alt => "github", :title => "github"), "https://github.com/rpavilanis" %>
      </section>

    </footer>

  </body>
</html>
